<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<connectionStrings>
		<add name="ChapooDB" connectionString="Data Source=den1.mssql8.gear.host;
			 Initial Catalog=dbchapoo06;
			 User ID=dbchapoo06;
			 Password=Ye7e?_2qe7NW" />
	</connectionStrings>
</configuration>
